.film-table{
    width: 100px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    width: 75vw;
    height: 1000px;
    margin: 0 auto;
    a{
        height: 200px;
        margin: 0;
        padding: 0;
    }
    .film{
        overflow: hidden;
        margin: 10px;
        width: 200px;
        height: 298px;
 
        position: relative;
        img{
            width:200px;
            filter: grayscale(0%);
            
        }
        .title{
            padding: 3px;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.856);
            font-size: 20px bold;
            color: white;
            position: absolute;
            bottom: -10px;
           right: 0;
        }
    }
       
}

.film-info{
    img{
        width: 250px;
        float: left;
        margin-right: 50px;
    }
}